<div class="form">
    <div class="form__center">
    <div class="form_addPost">
        <h1>Add Post . .</h1><br>
        <label for="description">Description:</label><br>
        <input id="description" type="text" placeholder="Description" required><br>
        <label for="tags">Tags:</label><br>
        <input id="tags" type="text" placeholder="Tags" required><br>
        <label for="content">Content:</label><br>
        <input id="content" type="text" placeholder="content" required><br><br>
        <button id="backToUserBtn">Back</button>&nbsp;&nbsp;
        <button id="addBtn">Add Post</button><br>
    </div>
    </div>
</div>