<div class="form">
    <div class="form_addPost">
        Add Post!<br><br>
        <label for="description">Description:</label>
        <input id="description" type="text" placeholder="Description" required><br>
        <label for="tags">Tags:</label>
        <input id="tags" type="text" placeholder="Tags" required><br>
        <label for="content">Content:</label>
        <input id="content" type="text" placeholder="content" required><br><br>
        <button id="backToUserBtn">Back</button>
        <button id="addBtn">Add Post</button>
    </div>
</div>