<table>
    <thead>
    <th>Description</th>
    <th>Author</th>
    <th>Create Date</th>
    </thead>
    <% posts.forEach(function(post){ %>
    <tr id="<%=post._id%>" class="currentPost">
        <td><%=post.description%></td>
        <td><%=post.author.user%></td>
        <td><%=post.createDate%></td>
    </tr>
    <%})%>
</table>
<div id="navigate">
<br><button id="userListBtn">User list</button>
<button id="myPageBtn"><span class="myPage-UI">My Page</span></button>
<p>* to get post click a table row</p>
</div>
