        <table>
            <thead>
            <th>description</th>
            <th>tags</th>
            <th>content</th>
            <th>author</th>
            <th>createDate</th>
            </thead>
            <tr id="<%=_id%>" class="idP">
                <td><%=description%></td>
                <td><%=tags%></td>
                <td><%=content%></td>
                <td class="author"><%=author.user%></td>
                <td><%=createDate%></td>
            </tr>
        </table>
        <br>
        <button id="deletePostBtn" class="admin">Delete Post</button>
        <button id="backBtn">Posts list</button>


