        <table>
            <thead>
            <th>description</th>
            <th>tags</th>
            <th>content</th>
            <th>author</th>
            <th>createDate</th>
            </thead>
            <tr id="<%=_id%>">
                <td><%=description%></td>
                <td><%=tags%></td>
                <td><%=content%></td>
                <td><%=author.user%></td>
                <td><%=createDate%></td>
            </tr>
        </table>
        <br>
        <button id="addPost">Add Post</button>
        <button id="saveBtn">Edit</button>
        <button id="deleteBtn">Delete</button><br><br>
        <button id="backBtn">Users list</button>

