
    <div class="form__center">
        <input id="user" type="text" placeholder="User" required><br><br>
        <input id="email" type="text" placeholder="Email" required><br><br>
        <input id="password" type="text" placeholder="Password" required><br><br>
        <input id="namefirst" type="text" placeholder="First Name" required><br><br>
        <input id="namelast" type="text" placeholder="Last Name" required><br><br>
        <button id="saveBtn">Sing Up</button><br>
        <p>or <a href="#login">Log in!</a></p>
    </div>
