<div class="form">
    <div class="form__field">
        Sing Up!<br><br>
        <label for="user">User:</label>
        <input id="user" type="text" placeholder="User" required><br>
        <label for="email">Email:</label>
        <input id="email" type="text" placeholder="Email" required><br>
        <label for="password">Password:</label>
        <input id="password" type="text" placeholder="Password" required><br>
        <label for="namefirst">First Name:</label>
        <input id="namefirst" type="text" placeholder="First Name" required><br>
        <label for="namelast">Last Name:</label>
        <input id="namelast" type="text" placeholder="Last Name" required><br><br>
        <button id="backBtn">Back</button>
        <button id="saveBtn">Sing Up</button>
    </div>
</div>